<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button (click)="openMenu($event)">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="ion-margin ion-text-center">Bienvenue sur l'application de gestion des cours et des professeurs</h3>
</ion-content>
